body {
    color: azure;
    background-image: url('/SLCCWebDev/Portfolio\ Project/images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f9b384;
    border-width: 5px;
    width: 15%;
}
a:link{
    text-decoration: underline;
    font-weight: bold;
    color: #b0afe8;
}